

  .heading {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    padding: 15px;
    background-color: #f0f0f0; 
    border-bottom: 2px solid #ccc; 
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px; 
  }
  
  .container { 
    height: 200px;
    position: relative;
  }
  
  .center {
    margin: 0;
    position: absolute;
    top: 40%;
    left: 40%;
   
  }
  .center1 {
    margin: 0;
    position: absolute;
    top: 15%;
    left: 40%;
  }
  .center2{
    left: 40%;
  }.centerpic {
    margin: 0;
    position: absolute;
    top: 60%;
    left: 5%;
    
  }